.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading Tiranno Mauro
        %p.lead
          Riverito Oratore del popolo azteco (1300-1322), ebbe vita
          invero brevissima. A lungo condiserato poco meno di una figura
          leggendaria, ottenne la patente di storicità in seguito alle approfondite
          ricerche eseguite da John C. Gnostolds nella cintura dei templi, in
          Messico, e pubblicate nel suo libro
          = succeed "." do
            %i
              Tyrant Maurus — A history about Enucatl's legacy XIV Century
              to XX
      .col-md-4
        %img.featurette-image.img-responsive{:alt => "tirannomauro", :src => "img/tirannomauro.jpg"}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 L'infanzia e il culto di Enucatl
        %p.lead
          Nato da Nahuatl, comandante dell'esercito di Tenochtitlan, e dalla
          principessa Hemutillin, cugina dell'allora re Azazale, per la lontananza di
          parentela dal sovrano sembrò fin da subito escluso dalla successione al
          trono.
        %p.lead
          L'incontro con il culto del sanguinario dio Enucatl, già a nove anni,
          cambiò radicalmente la sua vita: avvenuti al termine di una travagliata
          crisi mistica, nel corso della quale Mauro si sarebbe inflitto pesanti
          automutilazioni e avrebbe avuto visioni dell'aldilà, l'adesione alla setta
          che onorava questa divinità e l'ingresso nei Santi Misteri plasmarono il
          suo carattere ancora giovanissimo. In breve, sorretto in ogni sua azione
          dalla cieca fede in Enucatl, divenne audace, spregiudicato, protervo; a
          dodici anni convinse suo zio Azazale ad inviarlo nella città santa di
          Sobbabia per un tirocinio sacerdotale, vincendo l'opposizione di sua madre
          (suo padre, nel frattempo, era caduto in battaglia contro i vicini
          tlaxcaltechi): preso sotto l'ala protettrice di un sommo sacerdote noto
          solo come Fiore Ascetico, crebbe nel più acceso e settario fanatismo
          religioso, giungendo a convincersi della possibilità di unificare tutto il
          popolo azteco e le popolazioni confinanti sotto un unico dio, che, se del
          caso, doveva essere imposto anche con la violenza.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 La carriera militare e l'ascesa al potere
        %p.lead
          A quindici anni, Mauro ottenne l'esenzione dalla frequenza scolastica e
          l'ingresso nell'esercito: si addestrò febbrilmente per due anni e, come
          tributo per il grande coraggio e la cieca abnegazione, gli fu assegnato il
          comando di una numerosa guarnigione di frontiera, collocata al limitare del
          territorio tlaxcalteco. Approfittando della sua condizione di
          %i quasi re
          nella guarnigione, indusse i suoi uomini ad abiurare la fede tradizionale,
          riconoscendo come unico dio Enucatl; i pochi che, di fronte al suo zelo
          fanatico, ebbero la forza di opporsi, vennero sottoposti a una tortura
          divenuta poi famosa come
          = succeed ":" do
            %i tortura del tiranno
          crocifissi a testa in giù,
          dopo che era stata loro strappata la lingua, venivano affogati a più
          riprese in tinozze d'acqua bollente. Una simile politica di conversioni
          forzate fu seguita anche per i vicini villaggi tlaxcaltechi, molti dei
          quali vennero completamente rasi al suolo per aver rifiutato il nuovo dio;
          ormai i guerrieri della guarnigione al comando di Mauro agivano solo su suo
          ordine, trascurando i dispacci che provenivano dalla capitale, massacrando
          le popolazioni inermi e convertendo in massa i sopravvissuti. Quel ch'è
          più, molti guerrieri, provenienti da guarnigioni diverse o da molto tempo
          lontani dal campo di battaglia, si convertirono spontaneamente ed entrarono
          al servizio di Mauro, che ormai poteva contare
          su oltre tremila uomini.
        %p.lead
          Alla morte di Azazale, nel giugno 1319, seguirono sei mesi di anarchia: la
          mancata associazione al trono di un qualsiasi erede e il ritardo del
          collegio sacerdotale nello sceglierne uno, com'era sua competenza, indusse
          diversi generali, tra cui anche il buon Satrapame, ad autoproclamarsi re,
          contando sul sostegno dei propri soldati. La notte del 31 dicembre 1320
          (detta anche Notte delle Canne), Mauro marciò sulla capitale Tecnochtitlan,
          sostenuto da una folla osannante, sconfisse due dei generali che,
          coalizzatisi, gli sbarravano la strada ed entrò in Tenochtitlan, dove
          ordinò l'abbattimento delle statue dei
          = succeed "," do
            %i falsi idoli
          e decise di sacrificare chi, tra i prigionieri di quella notte,
          non si fosse sottomesso e convertito. Morirono a migliaia.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Il regno del tiranno Mauro
        %p.lead
          Nel marzo 1320 Mauro fu costretto, per un'epidemia che aveva colpito
          Tenochtitlan, a raggiungere un compromesso con l'ultimo usurpatore rimasto,
          il buon Satrapame: in cambio del riconoscimento della regalità di Mauro,
          quello avrebbe ottenuto la mano di sua sorella Tzitziplin, appena
          dodicenne, e sarebbe stato associato al trono. Dopo nove mesi, l'anarchia
          militare aveva fine.
        %p.lead
          Iniziò, però, una nuova stagione di violenze: la furia iconoclasta di Mauro
          si abbatté su monumenti, templi e recinti sacri degli altri dèi; la
          %i tortura del tiranno
          venne inflitta spietatamente e reiteratamente a
          nemici e sudditi; i regni tlaxcaltechi furono
          sottomessi e i diecimila loro
          prigionieri, fedeli alle antiche tradizioni, vennero immolati sulla
          piramide di Enucatl, nella città santa di Sobbabia — secondo le cronache,
          furono necessari sette giorni di massacro ininterrotto. La pressione fiscale,
          inoltre, levitava per la necessità di sostentare un esercito sembre più
          agguerito e sempre più feroce.
        %p.lead
          Nelle campagne, il culto si radicava profondamente: i fedeli del
          dio-serpente, detti
          = succeed "," do
            %i ajaxes
          non di rado assaltavano le città sguarnite di
          fortificazioni imponendo la conversione alle borghesie mercantili e
          artigiane di città. Infine, l'epidemia che aveva colpito Tenochtitlan non
          era ancora stata debellata, e i canali della città erano ingombri di
          cadaveri in decomposizione.
        %p.lead
          La situazione, nei due anni in cui regnò il tiranno Mauro, si fece
          insostenibile: l'intolleranza religiosa, le conversioni forzate, le
          torture, i massacri nelle campagne e nelle città, la pressione fiscale
          esagerata, le continue guerre con Chichimechi e Tlaxcaltechi indussero il
          buon Satrapame, cognato di Mauro, a rovesciarlo, il 14 luglio 1322; quel
          giorno fu noto come Giorno della Gloria. L'evangelizzatore violento del
          culto di Enucatl, incatenato e sconfitto, abbandonato da tutti, fu l'ultima
          vittima offerta al dio-serpente; questa religione, intollerante e violenta,
          fu dunque messa al bando per sempre — anche se, come affermano documenti
          spagnoli del XVI secolo, persistette lungamente nelle campagne, perpetuato
          dagli
          = succeed "." do
            %i ajaxes
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2
          Definitivo declino e
          %i damnatio memoriae
        %p.lead
          I monumenti che il tiranno Mauro aveva fatto erigere, le sculture che lo
          ritraevano, i dipinti che celebravano le sue vittorie furono immediatamente
          distrutti; il suo nome, cancellato da ogni registro del Paese, fu
          dimenticato: la condanna per i suoi efferati atti fu così la perenne
          = succeed "." do
            %i damnatio memoriae
          Talché il suo nome, Mauro, non è azteco: furono gli
          spagnoli a tradurre così, fraintendendo, l'aggettivo
          %i mah-urr
          (nero d'animo) con cui egli veniva descritto da una popolazione, a
          distanza di due secoli, ancora terrorizzata.
