.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading the tyrant Maurus
        %p.lead
          Aztec <i>speaker</i> (1300-1322), he lived a really short life.
          He has been considered as slightly less than a legendary
          figure for centuries, and his historicity was confirmed after the
          thorough research of John C. Gnostolds in the temple belt,
          Mexico, published in his book
          = succeed "." do
            %i
              Tyrant Maurus — A history about Enucatl's legacy XIV Century
              to XX
      .col-md-4
        %img.featurette-image.img-responsive{:alt => "tirannomauro", :src => "img/tirannomauro.jpg"}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Childhood and the cult of Enucatl
        %p.lead
          Son of Nahuatl, commander of the army of Tenochtitlan, and of the princess
          Hemutillin, cousin of the king Azazale. He immediately seemed excluded from
          succession since he was not close in kinship to the sovereign.
        %p.lead
          His life changed radically as he met the bloody cult of Enucatl,
          already at the age of nine: he joined the sect that honored this deity
          and entered the <i>sacred mysteries</i> after a troubled mystic crysis,
          involving self-mutilation and visions of afterlife, which molded
          his young personality. suo carattere ancora giovanissimo.
          He quickly became bold, unscrupulous, arrogant, as his blind faith in Enucatl
          supported every endeavor; at twelve he convinced his uncle Azazale to send
          him to the sacred town of Sobbabia to train as a priest, thus defeating
          his mother's opposition (his father in the meanwhile had fallen in battle
          against the tlaxcaltechs): under the wing of a supreme priest only
          known as Ascetic Flower, he grew up in the most sectarian, burning religious
          fanatism, and came to the conclusion that the Aztecs, as well as
          the neighboring populations, could be united under one god, that
          had to be imposed by force if necessary.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Military career and rise to power
        %p.lead
          At fifteen, Maurus got exemption from mandatory school and joined the army:
          he feverishly trained for two years and, as a tribute for his courage and
          blind abnegation, received the command of an important border garrison,
          close to the tlaxcaltec border. Exploiting his conidition of
          %i quasi-king
          in the garrison, he pushed his men to renounce the traditional faith,
          and recognize Enucatl as the only god; the few who had the force to
          oppose him, in spite of his fanatical zeal, had to suffer what later
          came to be known as the
          = succeed ":" do
            %i tyrant's torture
          crucified upside-down, after their tongue had been pulled out, they were
          drowned several times into boiling water. The same policy of forced conversion
          was carried out in the nearby tlaxcaltec villages, many of which were
          destroyed for having refused the new god.
          The warriors of the garrison under Maurus obeyed only his orders,
          neglecting any news from the capital: they massacred defenceless
          populations and converted the survivors. Moreover, many warriors
          from other garrisons or off-duty converted spontaneously and joined
          Maurus' army. He could count on more than three thousand men.
        %p.lead
          The death of Azazale, June 1319, was followed by six months of anarchy:
          no heir had been designated, and the council of the priests was hesitant
          to name any, despite that being their jurisdiction.
          Many generals, including the good Satrapame, proclaimed themselves king,
          relying on support from their soldiers. During the night of December 31st 1320
          (also known as <i>night of the reed</i>), Maurus marched on the capital
          Tenochtitlan, supported by a cheering mob, and defeated two of the generals
          who had joined forces against him. He entered Tenochtitlan, where he
          ordered the destruction of the statues of the
          = succeed "," do
            %i false gods
          and decided to sacrifice who, among the prisoners of that night,
          did not submit and convert to the new faith. Thousands died.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Tyrant Maurus' reign
        %p.lead
          In March 1320 Maurus was forced by an epidemic that had struck Tenochtitlan,
          to come to a compromise with the last remaining usurper, the good Satrapame:
          in exchange for the acknowledgement of Maurus as the king, he would marry
          his sister Tzitziplin, just twelve years old, and would be named heir.
          After nine months, the military anarchy had ended.
        %p.lead
          But a new season of violence started: Maurus' iconoclast fury
          struck monuments, temples and sacred fences of other gods;
          the 
          %i tyrant's torture
          was ruthlessly and repeatedly inflicted upon enemies and subjects;
          the tlaxcaltec reigns were conquered and ten thousand prisoners,
          faithful to the ancient traditions, where sacrificed on Enucatl's pyramid,
          in the sacred town of Sobbabia
          — according to the chronicles, seven days of uninterrupted massacre were needed.
          Taxes were raised to support a more and more ferocious and hardened army.
        %p.lead
          In the countryside, the cult was profoundly radicated: the
          faithful of the snake-god, known as
          = succeed "," do
            %i ajaxes
          often assaulted cities without fortifications, thus forcing
          the conversion of the trading and artisan town bourgeoisie.
          Finally the epidemic that had struck Tenochtitlan was not yet over,
          and the canals of the town were filled with rotten corpses.
        %p.lead
          The situation, during the two years of tyrant Maurus' reign, became
          more and more unbearable: the religious intolerance, the forced conversions,
          the tortures, the massacres in the towns and in the countryside,
          the high taxation, the never-ending wards against 
          Chichimecs and Tlaxcaltecs induced the good Satrapame, Maurus' brother-in-law,
          to overthrow him, on July 14th, 1322; that day became known as
          = succeed "." do
            %i
              the day of the glory
          The violent preacher of the cult of Enucatl, defeated and chained,
          abandoned by all, was the last victim to be offered to the snake-god;
          this violent and intolerant religion was then forever banned
          — although, according to Spanish documents of the 16th century, 
          it lasted longer in the countryside, maintained by the
          = succeed "." do
            %i ajaxes
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2
          Final fall and
          %i damnatio memoriae
        %p.lead
          The monuments that the tyrant Maurus had built, his sculptures and the paintings
          of his victories were immediately destroyed; his name, erased from every
          register of the country, was forgotted: the conviction for his cruel
          actions was thus an eternal
          = succeed "." do
            %i damnatio memoriae
          So that his name, Maurus, is not Aztec: the Spanish wrongly translated
          the adjective
          %i mah-urr
          (with a dark soul), as he was described by the population, still
          terrified after two centuries.
